name: ArgoCD Exporter Workflow

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */1 * * *' # Determines the scheduled interval for this workflow. This example runs every hour.

env:
   CUSTOM_HTTP_HEADERS: ${{ secrets.OCEAN__INTEGRATION__CONFIG__CUSTOM_HTTP_HEADERS }}

jobs:
  run-integration:
    runs-on: ubuntu-latest
    timeout-minutes: 30 # Set a time limit for the job

    steps:
      - uses: port-labs/ocean-sail@v1
        with:
          type: 'argocd'
          port_client_id: YIWwPk0vah3O3jfK0NfTXocBJLITt9nK
          port_client_secret: MJ0OS4tO5MScchpnE4m23Wbp12JZcf4IHlg1fOZc1ejHHZB07sR0qH4bkg62ovX7
          port_base_url: https://api.getport.io
          # image: ghcr.io/port-labs/port-ocean-argocd:0.1.287-rc1
          version: 0.1.287-rc2
          config: |
            token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhcmdvY2QiLCJzdWIiOiJhZG1pbjphcGlLZXkiLCJuYmYiOjE3NzA4MDYzMDUsImlhdCI6MTc3MDgwNjMwNSwianRpIjoiYzg5MmMwZmQtNGM1MS00MjJmLWI2ODUtOTk3NGUwMTgyYjI1In0.PVmaOylrsEkeLGnFNjWt2GidA51AmVFTncti8WULGuM
            server_url: https://fatidic-tamiko-brightly.ngrok-free.dev
            ignore_server_error: false
            custom_http_headers: ${{ fromJson(env.CUSTOM_HTTP_HEADERS) }}
            allow_insecure: true
